$color-1:#FEFCF5;
$color-2: #DFFF84;
$color-3: #011C23;
$color-4: #DFEDDD;
$color-5: #4E260D;
$color-6: #00945E;
$color-7: #327052;




// mixin's
@mixin font($w, $fz, $lh:1){
    font-family: 'Roboto', sans-serif;
    font-weight: $w;
    font-size: $fz + px;
    line-height: $lh;
    letter-spacing: 0.4;
}